@charset "UTF-8";

/*Configuração do aside*/

@media screen and (max-width: 1120px) {
    
    /*Configuração do menu*/
    header {
        height: 100px;
    }

    /*Configuração do conteudo*/
    .main-content {
        border: none;
        border-top: 2px solid var(--corg2);
        max-width: 100%;

    }
    .secondary-content {
        display: none;
    }
}