@charset "UTF-8";

/*Configuração para telas pequenas*/

:root {
    /*cor principal*/
    --cor0: #e4251e;
    --cor1: #a10f0f;
    --cor2: #661010;

    /*Cor secundária*/
    --cor3: #30d65f;
    --cor4: #0EA138;
    --cor5: #05501a;

    /*Cores auxiliares*/
    --cory:rgb(202, 184, 23);
    --corbb: rgb(36, 136, 194);

    /*Cores cinzas*/
    --corg0: rgb(53, 48, 48);
    --corg1: rgb(92, 86, 86);
    --corg2: rgb(150, 144, 144);
    --corg3: rgb(223, 215, 215); 
    --corg4: rgb(247, 241, 241);

    /*Branco e Preto*/
    --corb: #0d0d0d;
    --corw: #ffffff;

    /*Fontes*/
    --fonte-padrao: 'texturina', serif;
    --titulo: 'el messiri', sans-serif;
    --estilizar: 'expletus sans', cursive;
}

@media screen and (max-width: 600px) {
    
    header {
        height: auto;
    }
    .link-books {
        display: block;
        padding: 0px;
    }
    #ul-books {
        display: none;
    }
    #more-link {
        display: none;
    }
    .hamburger-menu {
        display: flex;
        width: 100%;
        cursor: pointer;
        justify-content: center;
        border-bottom: 1px solid var(--corg3);
    }
    .hamburger-menu:hover {
        background-color: var(--corg3);
    }
    .menu {
        justify-content: center;
        align-items: center;
        
    }
    .menu ul {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .menu ul li {
        width: 100%;
        padding: 3px 5px 3px 5px;
        border-bottom: 1px solid var(--corg3);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu ul li a {
        width: 100%;
        padding: 6px;
        font-size: 0.8em;
        text-align: center;
    }
    .menu ul li a:hover {
        border-radius: 0px;
    }

    .main-content {
        border: none;
        border-top: 2px solid var(--corg3);
    }
    .secondary-content {
        display: none;
    }
}