@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Texturina:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/*estilo Geral*/

:root {
    /*cor principal*/
    --cor0: #e4251e;
    --cor1: #a10f0f;
    --cor2: #661010;

    /*Cor secundária*/
    --cor3: #30d65f;
    --cor4: #0EA138;
    --cor5: #05501a;

    /*Cores auxiliares*/
    --cory:rgb(202, 184, 23);
    --corbb: rgb(36, 136, 194);

    /*Cores cinzas*/
    --corg0: rgb(53, 48, 48);
    --corg1: rgb(92, 86, 86);
    --corg2: rgb(172, 164, 164);
    --corg3: rgb(223, 215, 215); 
    --corg4: rgb(247, 241, 241);

    /*Branco e Preto*/
    --corb: #0d0d0d;
    --corw: #ffffff;

    /*Fontes*/
    --fonte-padrao: 'texturina', serif;
    --titulo: 'el messiri', sans-serif;
    --estilizar: 'expletus sans', cursive;
}
/*Configuração Geral*/
* {
    margin: 0px;
    padding: 0px;
}


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    background-color: white;
    margin: auto;
}

/*Configuração do topo*/
.topo {
    background-color: var(--cor1);
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.log-red {
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    max-width: 1100px;
}

.rede-social {
    display: flex;
    align-items: center;
}

.h1-red {
    font-family: var(--titulo);
    color: white;
}

.img-red {
    margin: 5px;
}

.logo {
    display: flex;
}

ion-icon {
    font-size: 40px;
    color: white;
}

/*Configuração do menu*/
.menu {
    background-color: var(--corw);
    display: flex;
    width: 100%;
    max-width: 1100px;
    box-sizing: border-box;
    margin-top: 1%;
}
.menu ul {
    list-style: none;
    display: flex;
    gap: 5px;
} 
.menu ul li {
    padding: 10px 0px;
    height: 20px;
    justify-content: center;
}
.menu ul ul {
    display: none;
}
.menu ul li:hover ul {
    display: flex;
}
.menu ul li a {
    font-family: var(--estilizar);
    text-decoration: none;
    color: var(--cor0);
    font-size: 18px;
    font-weight: bolder;
    padding: 10px 13px 10px 13px;
    text-transform: uppercase;
    background-color: var(--corg3);
    border-radius: 10px;

}

.menu ul li a:hover {
    color: whitesmoke;
    background-color: var(--cor0);
    transition: 0.6s ease-in-out;
    
}

.hamburger-menu {
    display: none;
}

/*configuração da estrutura do site*/

main {
    width: 100%;
    max-width: 1100px;
    margin: 2% auto 0px auto;
    display: flex;
    justify-content: center;
}

.main-content {
    box-sizing: border-box;
    background-color: var(--corw);
    border-top: 3px solid var(--corg2);
    border-left: 3px solid var(--corg2);
    width: 100%;
    max-width: 780px;
    height: auto;
}

/*configuração da estrutura do conteúdo*/

.content-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px 28.5px 0px;
    box-sizing: border-box;
}

.secondary-content {
    box-sizing: border-box;
    background-color: var(--corg2);
    padding-top: 3px;
    width: 100%;
    max-width: 320px;
    height: auto;
}

/*Configuração do conteúdo*/

.page-title {
    width: 100%;
    border-bottom: 1px solid var(--corg3);
    padding-bottom: 20px;
    margin-bottom: 30px;
    display: flex;
  }

.folder {
    color: var(--corg1);
}

.category {
    color: var(--corg2);
}

.content-grid {
    width: 100%;
}

.post-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--corg3);
}

.grid-item {
    float: left;
    margin-bottom: 30px;
}

.post-thumbnail {
    width: 100%;
    max-height: 450px;
}

.post-thumbnail img {
    width: 100%;
    /*height: auto;
    altura oficial*/
}

.grid-item img:hover {
    opacity: .8;
    transition: opacity .2s ease;
}

.grid-item a:hover {
    color: var(--cor0);
    transition: all .2s ease;
}

.post-title a {
    text-decoration: none;
    font-family: var(--titulo);
    color: var(--corg0);
}

.summary {
    font-family: var(--fonte-padrao);
    color: var(--corg1);
}

/*Temporário*/

.post-006 img {
    display: block;
    height: 170px;
    background-color: var(--corg3);
}

.post-007 img {
    display: block;
    height: 170px;
    background-color: var(--corg3);
}

/*Conteúdo secundário*/
.aside-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 10px 30px;
    box-sizing: border-box;
}

.aside-logo {
    width: 100%;
}

.aside-logo img {
    width: 100%;
}

.advertising {
    padding-top: 30px;
    width: 100%;
}
.advertising iframe {
    width: 100%;
}

/*Configuração do roda-pé*/

footer {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: var(--corg0);
    color: var(--corw);
    text-align: center;
}

