/* pagina mural */

@charset "UTF-8";

/*Configuração do livro*/

@import url('https://fonts.googleapis.com/css2?family=Texturina:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/*estilo Geral*/

:root {
    /*cor principal*/
    --cor0: #e4251e;
    --cor1: #a10f0f;
    --cor2: #661010;

    /*Cor secundária*/
    --cor3: #30d65f;
    --cor4: #0EA138;
    --cor5: #05501a;

    /*Cores auxiliares*/
    --cory:rgb(202, 184, 23);
    --corbb: rgb(36, 136, 194);

    /*Cores cinzas*/
    --corg0: rgb(53, 48, 48);
    --corg1: rgb(92, 86, 86);
    --corg2: rgb(150, 144, 144);
    --corg3: rgb(223, 215, 215); 
    --corg4: rgb(247, 241, 241);

    /*Branco e Preto*/
    --corb: #0d0d0d;
    --corw: #ffffff;

    /*Fontes*/
    --fonte-padrao: 'texturina', serif;
    --titulo: 'el messiri', sans-serif;
    --estilizar: 'expletus sans', cursive;
}
/*Corpo da pagina*/

.main-book {
  min-height: 781px;
}

.aside-flex {
  padding: 15px 10px;
}

/*Pagina dos Comentários*/
.comentario {
  width: 100%;
  color: var(--corg2);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-form {
  width: 100%;
}

.div-form input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
}

.div-form textarea {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid var(--corbb);
  background-color: white;
  border-radius: 5px;
  margin-bottom: 10px;
}

.div-form button {
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: var(--cor3);
  width: 120px;
}

.publicacao-btn-editar {
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: var(--corbb);
  width: 80px;
}

.publicacao-btn-deletar {
  background-color: var(--cor0);
}

.publicacao {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid var(--corbb);
  padding: 20px;
}

.publicacao > *:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.feed-container {
  background-color: var(--corg3);
  border-radius: 5px;
}

.div-buttons {
  display: flex;
  justify-content: flex-start;
}

.div-buttons > * {
  margin-right: 30px;
}

.input-disabled {
  border: 2px solid var(--cor0);
}